html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
}

#play-icon{
    width: 100px;
    height: 100px;
}

#play-screen {
    position:absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(87, 87, 87, .2);
    transform: translate(-50%, -50%);
    padding: 7em;
}

#playground {
    position:absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px solid black;
}

#play-button {
  border: none;
  background-color: transparent;
  color: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: yellow;
}

.shadedCell {
    background-color: rgb(87, 87, 87);
}

.foodCell{
    background-color: red;
}